@model OrderDetailsViewModel

@{Layout = null;}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="wwwroot/css/site.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <h3>Invoice #@Model.Id</h3>
    <div class="row">
        <div class="col-xs-2" style="width: 400px; display: inline-block;">
            <div class="card col-xs-2" style="display:inline-block;">
                <div class="card-body col-xs-2" style="display:inline-block;">
                    <h3>Customer information</h3>
                    <h5 class="card-title">@Model.Customer.FirstName @Model.Customer.LastName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Model.Customer.Email</h6>
                    <p class="mb-0"><b>Address:</b></p>
                    <p class="card-text">@Model.Customer.Address.ToString()</p>
                    <p class="mb-0"><b>Phone number:</b></p>
                    <p class="card-text">@Model.Customer.PhoneNumber</p>
                </div>
            </div>
        </div>
        @{ var salesMan = String.IsNullOrEmpty(Model.CreatedByEmail) ? "Unknown" : Model.CreatedByEmail;}
        <div class="ml-4" style="display:inline-block;">
            <div class="card" style="width: 300px; display:inline-block;">
                <div class="card-body" style="display:inline-block;">
                    <h3> Order Information</h3>
                    <h5 class="card-title">Channel Order #</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Model.SourceOrderId</h6>
                    <p class="mb-0"><b>Total paid</b></p>
                    <p class="card-text">@Model.PaidAmount</p>
                    <p class="mb-0"><b>Grand total</b></p>
                    <p class="card-text">@Model.GrandTotal</p>
                </div>
            </div>
        </div>
        <div class="ml-4"  style="display:inline-block">
            <div class="card" style="width: 400px; display:inline-block;">
                <div class="card-body" style="width: 400px; display:inline-block;" >
                    <h3>Shipping information</h3>
                    <p class="mb-0"><b>Shipping method</b></p>
                    <p class="card-text">@(Model?.ShippingMethod?.Carrier?.Name ?? "No carrier select") / @(Model?.ShippingMethod?.Name ?? "No method select")</p>
                    <p class="mb-0"><b>Ship By Date</b></p>
                    <p class="card-text">@(Model.ShipByDate?.ToString() ?? "No Ship By Date")</p>
                    <p class="mb-0"><b>Tracking number</b></p>
                    <p class="card-text">@Model.TrackingNumber</p>
                    <hr />
                </div>
            </div>
        </div>
        <div class="ml-3">
            <h3 class="d-inline">Order items</h3>
            <table class="table table-hover table-striped mt-2">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product SKU</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col">Line total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oi in Model.OrderItems)
                    {
                        <tr>
                            <td> @oi.ProductId</td>
                            <td><img src="@oi.ImageURL" class="rounded-circle img-thumbnail" style="height: 75px; width: 75px;"></td>
                            <td>@oi.ProductSKU</td>
                            <td>@oi.Qty</td>
                            <td>@oi.Price</td>
                            <td>@(oi.Qty * oi.Price)</td>
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Grand total</td>
                        <td>@Model.GrandTotal</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>