@model ManageCustomersViewModel
@{this.ViewData["Title"] = "Manage Customers";}
<partial name="_SearchCustomers" model="Model.Filters" />

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Customer name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Number of orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Email</td>
                <td>@customer.FirstName @customer.LastName</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.Address.ToString()</td>
                <td>@customer.NumberOfOrders</td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" for="@Model" />
