@model ManageProductsViewModel
<div>
    <a type="button" class="btn-success p-2 mb-4" href="/Products/AddProduct" role="button">Add Product</a>
</div>
<partial name="_SearchProducts" model="Model.Filters" />
<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="card col-md-3">
            <img class="card-img-top" src="@(!String.IsNullOrEmpty(item.ImageUrl) ? item.ImageUrl : "/img/noimage.png")" style="height: 150px; width: 151px;">
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.ShortDescription</p>
                <a class="btn btn-primary" asp-controller="Products" asp-action="ProductDetails" asp-route-id="@item.Id">View Details</a>
            </div>
        </div>
    }
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @Model.PreviousDisabled">
            <a class="page-link" asp-controller="Products" asp-action="ManageProducts" asp-all-route-data="Model.Filters.ToDictionary()" asp-route-page="1">First Page</a>
        </li>
        <li class="page-item @Model.PreviousDisabled">
            <a class="page-link" asp-controller="Products" asp-action="ManageProducts" asp-all-route-data="Model.Filters.ToDictionary()" asp-route-page="@(Model.Page - 1)">Previous</a>
        </li>
        @for (int i = Model.FirstPage; i <= Model.LastPage; i++)
        {
            var isactive = i == Model.Page ? "active" : string.Empty;
            <li class="page-item @isactive">
                <a class="page-link" asp-controller="Products" asp-action="ManageProducts" asp-all-route-data="Model.Filters.ToDictionary()" asp-route-page="@i" active="@(Model.Page == i)">@i</a>
            </li>
        }
        <li class="page-item @Model.NextDisabled">
            <a class="page-link" asp-controller="Products" asp-action="ManageProducts" asp-all-route-data="Model.Filters.ToDictionary()" asp-route-page="@(Model.Page + 1)">Next</a>
        </li>
        <li class="page-item  @Model.NextDisabled"><a class="page-link" asp-controller="Products" asp-action="ManageProducts" asp-all-route-data="Model.Filters.ToDictionary()" asp-route-page="@Model.PagesCount">Last Page</a></li>
    </ul>
</nav>
