@model IEnumerable<ProductWarehouseViewModel>
@{
    var sku = @Model.FirstOrDefault().ProductSKU;
    var productId = Model.FirstOrDefault().ProductId;
    this.ViewData["Title"] = $"Manage Inventory {productId}"; 
}
@section Breadcrumbs{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="ManageProducts">Manage Products</a></li>
            <li class="breadcrumb-item"><a asp-action="ProductDetails" asp-route-id="@productId">Product Details: @productId</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage inventory</li>
        </ol>
    </nav>
}
<h5 class="h5">Inventory for: @sku </h5>
<div class="row">
    <table class="col-sm-6 table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Warehouse Name</th>
                <th scope="col">Sellable</th>
                <th scope="col">Total Quantity</th>
                <th scope="col">Available Quantity</th>
                <th scope="col">Reserved Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var productWarehouse in Model)
            {
                <tr>
                    <td>@productWarehouse.WarehouseName</td>
                    <td><input type="checkbox" disabled checked="@productWarehouse.WarehouseIsSellable" /></td>
                    <td>@productWarehouse.TotalPhysicalQuanitity</td>
                    <td>@productWarehouse.AggregateQuantity</td>
                    <td>@productWarehouse.ReservedQuantity</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-sm-6">
        <h1> Movement History</h1>
    </div>
</div>

<div>
    <h5 class="h5">Adjust Inventory</h5>
    <form asp-controller="Products" asp-action="AdjustInventory" method="post">
        <div class="row">
            <div class="col-sm-3">
                <vc:warehouse-dropdown id="0"></vc:warehouse-dropdown>
            </div>
            <input id="productId" name="productId" hidden value="@productId" />
            <div class="col-sm-2">
                <label for="Qty"> Qty to adjust</label>
                <input class="form-control col-sm-6" type="number" id="Qty" name="Qty" />
            </div>
        </div>
        <div class="mt-2">
            <button class="btn btn-outline-dark"> Adjust inventory</button>
        </div>
    </form>
</div>