@model ManageProductsViewModel
@{this.ViewData["Title"] = $"Manage Products";}
<div class="bg-light">
    <a type="button" class="btn-dark p-2 mb-4" asp-action="AddProduct" role="button">Add Product</a>
</div>
<partial name="_SearchProducts" model="Model.Filters" />
<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="card col-md-3">
            <img class="card-img-top" src="@(!String.IsNullOrEmpty(item.ImageUrl) ? item.ImageUrl : "/img/noimage.png")" style="height: 150px; width: 151px;">
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text"><b>Id:</b> @item.Id <b>SKU:</b> @item.SKU</p>
                <p class="card-text"><b>Price:</b> $@item.WebsitePrice </p>
                <a class="btn btn-dark" asp-controller="Products" asp-action="ProductDetails" asp-route-id="@item.Id">View Details</a>
            </div>
        </div>
    }
</div>
<partial name="_PagingPartial" for="@Model" />