@model ProductImagesViewModel
@section Breadcrumbs{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Products/ManageProducts">Manage Products</a></li>
            <li class="breadcrumb-item"><a href="/Products/ProductDetails/@Model.ProductId">Product Details: @Model.ProductId</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage images</li>
        </ol>
    </nav>
}
<div class="col-sm-4">
    <a class="btn btn-primary" href="/Products/AddImages/@Model.ProductId">Add Images</a>
</div>

<form asp-controller="Products" asp-action="UpdateDefaultImage" method="post" class="mt-2">
    <input id="productId" name="productId" value="@Model.ProductId" hidden />
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-sm-1">#</th>
                <th class="col-sm-3">Image</th>
                <th class="col-sm-1">IsPrimary</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
            }
            @foreach (var item in Model.Images)
            {
                <tr class="row">
                    <th class="col-sm-1">@(i++)</th>
                    <td class="col-sm-3"><img src="@item.Url" class="img-thumbnail" width="150" height="150"></td>
                    <td class="col-sm-1">
                        <div class="form-check-input">
                            <input class="form-check-input" type="radio" name="imageId" checked="@item.IsPrimary" value="@item.ImageId">
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-outline-primary justify-content-center mt-2" asp-controller="Products" asp-action="ProductImages">Change default image</button>
</form>
